* {
  box-sizing: border-box;
}
body{
  font-size: 1.5em;
  text-align: center;
}
div.box{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #A52A2A;
  width: 90%;
  height: 170px;
  margin: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Helvetica;
  color: white;
}
div.title{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #0000FF;
  width:150px;
  height: 50px;
  float:right;
  padding: 9px;
  text-align: center;
}
.heading{
  font-size: 1.75em;
  font-weight: bold;
}
div.text{
  clear: both;
}

@media (min-width: 1200px) {
  div.box{
    float: left;
    width: 29.333%;
    height: 180px;
    margin: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
  @media (min-width: 950px) and (max-width: 1199px) {
    div.box{
      float: left;
      width: 44%;
      height: 210px;
      margin: 3%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    #box3{
      width: 94%;
      height: 170px;
    }
}
